@import "tailwindcss";

@theme {
  --color-primary: #f2b90d;
  --color-obsidian: #0A0A0A;
  --color-obsidian-light: #141414;
  --color-background-light: #f8f8f5;
  --color-background-dark: #0A0A0A;

  --font-display: var(--font-manrope);
  --font-body: var(--font-manrope);
  --font-serif: var(--font-playfair);
}

:root {
  --background: #f8f8f5;
  --foreground: #0A0A0A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #ffffff;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 128px;
  /* Header height on desktop */
}

@media (max-width: 1023px) {
  html {
    scroll-padding-top: 96px;
    /* Header height on mobile/tablet */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
}

.material-symbols-outlined.fill-icon {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24 !important;
}